/*Common Elements*/
input{
    background: rgba(255, 255, 255, 0.75);
    color: #979797 !important;
    padding: 1em 1em !important;
    margin: 1.25em 1em !important;
    width: 85%; border-radius: 15px;
}
input, button{
    outline: none; border: none;
}
input:focus, button:focus{
    outline: none; border: none;
}
input::-webkit-input-placeholder{
    text-align: center; font-size: 25px;
    letter-spacing: 1.05em; 
    position: relative; left: 13px;
}
input[type]{
    letter-spacing: 4px; 
    font-size: 20px;
    color: #000 !important;
}
button.login, button.submit{
    background: rgba(0, 0, 0, 0.51);
    color:#FFF; border-radius: 30px;
    font-size: 20px; letter-spacing: 8px;
    width: 168px; padding: 0.7em 0;
    margin: 1.25em 0;  
}
button.login p, button.submit p{
    margin-bottom: 0;
    position: relative;
    left: 5px;
}

/*Form Contents*/
form{
    width: 625px; height: 715px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 3.5em; padding-bottom: 1.5em;
    border-radius: 20px; border: 2px solid #000;
    /*Outside Alignment*/
    position: absolute; left:0; right: 0;
    margin-left: auto; margin-right: auto;
    text-align: center; top: 11%;
}
.login-form-area, .forgotten-password-area{
    
}
.login-form .logo{
    width: 100px; padding-bottom: 2em;
    position: static;
}
.login-form h1, .login-form h2{
    font-weight: 500;
}
.login-form h1{
    color: #000; font-size: 25px;
    letter-spacing: 25px; line-height: 0.75;
    position: relative; left: 13.5px;
}
.login-form h2{
    color: #000; font-size: 20px;
    letter-spacing: 1px;
}
.login-form h2.forgotten-password{
    font-size: 25px !important;
}
.login-form .grey{
    color: #717274 !important;
    padding-bottom: 1em;
}
.login-form h3{
    color: #FFF; font-size: 20px;
    font-weight: 100; letter-spacing: 4px;
}
.forgetten-password{
    cursor: pointer;
}