/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Common Selectors*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
p{
    letter-spacing: 1.5px;
}
h2,h3{
    letter-spacing: 2px !important;
}
a{
    color: none !important;
    text-decoration: none !important;
    letter-spacing: 1.5px;
}
.bold{
    font-weight: 700;
}
.light-red{
    color: #D11329 !important;
}
.black{
    color: black !important;
}
.red{
    color: #B62122 !important;
}
.grey{
    color: #717274;
}
.noto-sans-tc{
    font-family: "Noto Sans TC", sans-serif !important;
}
.montserrat{
    font-family: 'Montserrat', sans-serif !important;
}
.long-words{
    font-size: 20px !important;
}
i{
    font-size: 25px;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, 
.fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    line-height: 1.08 !important; 
    font-size: 35px !important;
}
ol, ul {
    padding-left: 0 !important;
}
select{
    outline: none; border: none;
    box-shadow: none; cursor: pointer;
}
option{
    cursor: pointer !important;
}
button p{
    text-align: center !important;
    margin-bottom: 0.1em;
}
header{
    width: 100%;
}
section{
    width: 100%; 
    position: relative;
}
section .container{
    padding-top: 5em;
}
section .container h2{
    font-weight: bold; font-size: 25px;
    letter-spacing: 1.5px; color: #000;
    position: relative; left: 10px; top: 5px;
}
section .container h2.topic{
    font-size: 30px; letter-spacing: 8px;
    font-weight: 500;
}
section .container h2.topic::after{
    content: ""; display: block; margin: auto;
    margin-top: 0.75em; margin-bottom: 0.5em;
    width: 105px; height: 0.3em;
    background-color: #DD3835; border-radius: 50px;
    position: relative; left: -4px;
}
section .container .row{
    padding-bottom: 4em;
}
section .container h3{
    color: #C4C4C4; letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5em; 
    position: relative; left: 5px;
}
section .container .introduction h3{
    font-size: 20px !important; font-weight: 300;
    letter-spacing: 1px; color: #949494;
    position: relative; left: 20px; top: 12.5px;
}
section .container .introduction h4{
    color: #DD3835; text-align: right;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px; font-weight: 700;
    position: relative; right: 10px;
}
section .container img{
    width: 100%;
}
img{
    cursor: pointer;
}
img.contact-logo{
    margin-bottom: 1.5em;
}
img.logo:hover{
    opacity: .7; transition: .5s ease all;
}
img.medium-image{
    margin-left: -10em !important; 
    margin-top: 1em !important;
}
img.big-image{
    margin-left: -4em !important; 
    margin-top: 1em !important;
}
img.left-big-image{
    margin-top: 1em !important; 
    margin-left: -1.25em !important;
}
.jumbotron{
    margin-top: -2px !important;
}
.outer{
    display: grid; 
    width: 100%;
    height: 100%;
}
.inner{
    justify-self: center; 
    align-self: center;
}
.inner h2{
    margin-top: 0 !important;
    margin-bottom: 5em;
}

/*Navbar*/
.collapse-content{
    background: rgba(165, 20, 18, 0.8);
    padding: 1.5em; display: flex;
}
.navbar-nav {
    display: none; flex-direction: row;
    padding-left: 0; margin-top: 5em;
    margin-bottom: 2em !important; 
    letter-spacing: 5px;
}
.navbar {
    padding-bottom: 2.5em !important;
}
.fixed-top {
    z-index: 50 !important;
}
.fixed-top.scrolled{
    background: rgba(0, 0, 0, 0.8);
    transition: .5s linear;
}
.navbar > .container-fluid{
    width: 80%; margin-top: 3em;
}
.nav-link{
    color: #FFF !important; font-size: 25px; 
    padding: 1em 1em !important; text-align: center;
}
.navbar-toggler {
    padding: 0 !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler-icon{
    background-image: url(../images/navbar-icon.png) !important;
    width: 2em !important; height: 2em !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.cross{
    background-image: url(../images/white-cross.png) !important;
    width: 2em !important; height: 2em !important;
    /*Alignment*/
    position: absolute; top: 9.4%; right: 10.75%;
}
.mouse{
    bottom: 8%;
    /*Outside - Center Alignment*/
    position: absolute; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    text-align: center; 
    animation: loop 2s infinite;
    animation-delay: 3s !important;
    -webkit-animation: loop 2s infinite;
    -moz-animation: loop 2s infinite;
    cursor: pointer;
}
@keyframes loop{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 30px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

/*Sidebar*/
.sidebar{
    width: 120px; height: 100vh; 
    position: fixed; top: 0;
    text-align: center; 
    background: #FFF; z-index: 50; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .7s ease;
} 
.sidebar:hover{
    width: 270px; text-align: left;
}
.sidebar .logo{
    width: 50px; position: static;
}
.sidebar ul{
    margin-bottom: 0 !important;
}
.sidebar ul li{
    padding: 35px 0; list-style: none;
}  
.sidebar:hover ul li{
    padding-left: 2.2em;
}
.sidebar span{
    color: #717274; font-size: 20px; 
    letter-spacing: 1px;
    display: none;
}
.sidebar:hover ul li span{
    float: right; margin-right: 3em;
    animation: fadeIn 2.5s;
} 
.sidebar:hover span{
    display: inline;
    cursor: auto;
}
.sidebar .bottom-area{
    /*Alignment*/
    position: absolute; 
    left: 0; right: 0; bottom: 0;
    margin-left: auto; margin-right: auto;
}
.sidebar .bottom-area .user-area{
    background: #EAEAEA; padding: 2em 0;
    cursor: pointer; 
}
.sidebar:hover .user-area{
    padding-left: 1.5em;
}
.sidebar .bottom-area .user-area .user{
    display: none;
    animation: fadeIn 1.5s;
}
.sidebar:hover .bottom-area .user-area .user{
    display: inline;
}
.sidebar .bottom-area .user-area .user a{
    font-size: 20px; 
    color: #B62122 !important;
    margin-left: 1em;
}

@media (max-height:740px) {
    .bottom-area ul{
        display: none;
    }
}

/*Opening*/
#opening{
    height: 100.18vh;
}
#opening .jumbotron{
    background: url(../images/homepage-banner.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%; height: 100.18vh;
    color: #FFF;
}
#opening .jumbotron .introduction{
    top: 30%; width: 80%;
    /*Center Alignment*/
    position: absolute; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    text-align: center; 
}
#opening .jumbotron .introduction .source img{
    width: 700px;
}
#opening .jumbotron .introduction .quick-action{
    width: 280px; height: 80px;
    background: rgba(0, 0, 0, .7);
    border-radius: 500px; margin-top: 3.5em;
    /*Outside - Center Alignment*/
    position: absolute; left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    text-align: center; 
    /*Inside - Center Alignment*/
    display: flex; align-items: center;
    justify-content: center;
}
#opening .jumbotron .introduction .quick-action h1{
    font-size: 25px; line-height: 1.8; 
    letter-spacing: 7px;
    position: relative;
    top: 1.5px; left: 4px;
}

/*News*/
#news .container .introduction{
    padding-bottom: .5em;
}
#news .container .introduction:hover{
    transition: 0.5s ease all;
    transition-delay: 0.15s;
    transform: translateY(-10px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*Professional*/
#professional .jumbotron{
    background: url(../images/modern-workplace.jpg);
    background-size: cover;
    background-position: 80%;
    width: 100%; padding-bottom: 5em;
}
#professional .jumbotron h2{
    color: #000; 
}
#professional .jumbotron article p{
    color: #000; font-size: 21.5px;
    font-weight: 500; letter-spacing: 2px;
    margin-top: 3em;
}

/*Our Clients*/
footer{
    width: 100%; 
    background: #000;
    position: relative;
    z-index: 100;
}
footer .container{
    padding-top: 4em; padding-bottom: 2em;
}
footer .container h2{
    color: #FFF; font-size: 30px;
    letter-spacing: 10px;
}
footer .container h2.topic::after{
    content: ""; display: block; margin: auto;
    margin-top: 0.75em; margin-bottom: 0.5em;
    width: 100px; height: 0.25em;
    background-color: #FFF; border-radius: 50px;
    position: relative; left: -4px;
}
footer .container h3{
    color: #FFF; letter-spacing: 3px;
    font-size: 22px; line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
footer h2.copyright{
    color: #DD3835; font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px; font-weight: 400; 
    padding-top: 1.5em;
}
footer .top-button{
    position: absolute; right: -1.5em;
    bottom: 10em; cursor: pointer;
    animation:loop 2s infinite;
    animation-delay: 5s !important;
    -webkit-animation:loop 2s infinite;
    -moz-animation:loop 2s infinite;
}

/*Carousel */
.flexslider {
    background: none !important; 
    border: none !important;
    margin-top: 3em !important;
    margin-bottom: 5em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.flexslider .slides img {
    width: 100%; padding: 0 1em;
    display: block;
}
.flex-control-nav {
    display: none !important;
}
.flex-direction-nav a{
    text-decoration: none; display: block;
    width: 40px; height: 40px;
    margin: -20px 0 0; z-index: 10;
    position: absolute; top: 50%;
    overflow: hidden; opacity: 1 !important;
    cursor: pointer;
}
.flex-direction-nav a:before {
    font-size: 33.5px !important;
    color: #FFF !important;
    text-shadow: none !important;
}
@media only screen and (max-width: 900px) {

    @keyframes loop{
        0%{
            transform: translate(0px, 0px);
        }
        50%{
            transform: translate(0px, 20px);
        }
        100%{
            transform: translate(0px, 0px);
        }
    }

    img.logo{
        top: 3.4em; width: 40px;
        /*Center Alignment*/
        position: absolute; left: 0; right: 0;
        margin-left: auto; margin-right: auto;
        text-align: center; 
    }
    .collapse-content{
        padding-bottom: 1.5em; 
    }
    .navbar-nav {
        margin-top: 6em; 
    }
    .navbar > .container-fluid{
        width: 80%; margin-top: 3em;
    }
    .nav-link{ 
        padding: 0.5em 0em !important; 
    }
    .navbar-toggler {
        font-size: 1.1em !important;
        position: relative; right: -1em !important
    }
    .cross {
        width: 1.8em !important;
        height: 1.8em !important;
        position: absolute;
        top: 5%; left: 3%;
    }
    .col-md-4{
        margin-bottom: 2em;
    }
    section .container h2{
        font-size: 22px;
    }

    /*Opening*/
    #opening .jumbotron .introduction {
        top: 30%;
    }
    #opening .jumbotron .introduction img{
        width: 100% !important;
    }

    /*News*/
    #news .row{
        padding-left: 1em !important; 
        padding-right: 1em !important;
        padding-bottom: 2.5em !important;
    }

    /*Professional*/
    #professional .row{
        padding-left: 2.2em;
        padding-right: 2.2em;
    }

    /*Services*/

    /*Footer*/
    footer .company-info{
        margin-top: 0em;
    }
    footer h2.copyright{
        font-size: 14px;
        letter-spacing: 1px; font-weight: 700; 
        padding-top: 3em; padding-bottom: 2em;
    }
    footer h2.contact-us{
        opacity: 0; visibility: hidden;
    }
    footer .top-button{
        right: 1.5em; 
    }
    footer .top-button img{
        width: 60px;
    }

    /*Carousel */
    .flexslider{
        margin-bottom: 0em !important;
    }
    .flexslider-container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .flexslider .slides img {
        width: 70% !important;
        padding: 0 1em;
        display: block;
    }
    .flex-direction-nav .flex-prev {
        opacity: 0; visibility: hidden;
    }
    .flex-direction-nav .flex-next {
        opacity: 0; visibility: hidden;
    }
    .carousel li {
        margin-right: -4.5em !important;
    }

}

@media only screen and (max-width:1400px) {
    #professional .jumbotron article p{
        color: #636262; 
        line-height: 2;
        font-size: 20px;
    }
    #professional .jumbotron article p {
        margin-top: 2em;
    }
}

@media only screen and (min-width:901px) {
    .flex-direction-nav .flex-prev {
        left: -100px !important;
    }
    .flex-direction-nav .flex-next {
        right: -100px !important;
        text-align: right;
    }
}

/*Contact us*/
.contact-area{
    width: 100%; height: 100vh;
    padding-left: 125px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.contact-info{
    margin-top: -4.5em;
}
.contact-info h1{
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 1.09em;
    position: relative; left: 0.6em;
}
.contact-info h2{
    font-size: 25px;
    letter-spacing: 1px !important;
}
.contact-info .company-name{
    margin: 1em 0;
    text-align: center;
}
.contact-info .sections{
    display: block; 
    color: #717274;
    font-size: 22px;
    letter-spacing: 1.5px;
}
.contact-info .sections div{
    display: inline-flex; float: left; 
    width: 300px; margin: 0.8em 2em;
}
.contact-info .sections div i,
.contact-info .sections div p,
.contact-info .sections div a{
    display: inline; 
}
.contact-info .sections div p,
.contact-info .sections div a{
    margin-left: 1.25em;
}
.contact-info .sections div a{
    color: #717274;
    text-decoration: underline !important;
}

/*Loaders*/
.loader{
    position: fixed; z-index: 100;
    background: rgba(0, 0, 0, .38);
    width: 100%; height: 100%; 
    /*Alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
.alert-minder{
    width: 650px; height: 540px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 1em 3.5em;
}
.loader .buttons{
    display: flex;
    justify-content: space-around;
}
.alert-minder h2{
    font-weight: 600; font-size: 30px;
    letter-spacing: 1px; text-align: center;
    margin-top: 2em;
}
.alert-minder p{
    font-weight: normal; font-size: 25px;
    line-height: 142.4%; letter-spacing: 1px;
    color: #717274; text-align: left;
}
.instruction{
    margin: 5em 0;
}
button.next-time{
    width: 200px; padding: 0.55em 0;
    background: #FFF; border-radius: 35px; 
    font-size: 23px; border: 1px solid #717274;
}
button.lets-do-it{
    width: 200px; padding: 0.55em 0; 
    background: rgba(0, 0, 0, 0.51);
    border-radius: 35px; font-size: 23px;
    border: none;
}
button.next-time p{
    color:#717274 !important;
    letter-spacing: 2.5px;
}
button.lets-do-it p{
    color: #FFF !important;
    letter-spacing: 2.5px;
}

.loader-2{
    display: none;
}
.loading-animation-area{
    width: 100%; height: 100vh; z-index: 100;
    background: #FFF; position: absolute;
    top: 0; text-align: center;
}
.progress-area{
    width: 100%;
    /*Alignment*/
    display: flex; justify-content: center;
    align-items: center; 
}
.progress {
    background: #F4F4F4; border-radius: 100px !important;
    width: 920px; height: 30px !important;
    overflow: none !important; 
}
.progress-value {
    animation: loading 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px; background: #89E7BA;
    height: inherit;
}
.loading-animation-area h2{
    margin-bottom: 1.25em;
    font-size: 40px;
}
.loading-animation-area p{
    margin-top: 1.5em;
    font-size: 30px;
    color: #717274;
}
@keyframes loading {
    0% {
        width: 0; 
    }
    100% { 
        width: 100%; 
    }
}