.suggested-tools, .url{
    margin-top: 1.25em;
}
.statement{
    font-size: 20px !important;
    margin: 0.8em 0; 
}
.slide-toggle-button{
    cursor: pointer;
}
.toggle-slider{
    display: none;
}
.grey-bgcolor{
    background: #F4F4F4;
    width: 90%;
}
.grey-bgcolor h2{
    padding: 0.55em 0;
}

/*Page-Contents*/
.selectable-content{
    width: 100%; 
    padding-left: 125px;
}
.selectable-content header{
    margin: 2em 0;
}
.selectable-content ul{
    list-style: none;
    padding: 0; margin: 0;
}
.selectable-content ul li{
    display: inline-block;
    margin: 0 0.75em;
}
.inside-navbar ul li{
    margin: 1.5em 3em;
}
.selectable-content button{
    width: 200px; padding: 0.55em 0;
    font-size: 23px; letter-spacing: 1.5px;
    background: #FFF; color: #B62122;
    border: 1px solid #B62122;
    border-radius: 30px;
}
.selectable-content button.active{
    background: #B62122;
    color: #FFF;
}
.selectable-content section,
.selectable-content section div{
    display: none; 
}
.selectable-content .active{
    display: block; 
}
.selectable-content section div.active{
    display: block;
}
.selectable-content section nav{
    text-align: center;
}
.selectable-content section nav h2.active{
    color: #D11329;
}
.selectable-content section h2,
.selectable-content section p,
.selectable-content section ol{
    color: #717274; font-size: 23px;
    letter-spacing: 1.5px;
}
.selectable-content section p{
    margin-bottom: 0.5em;
}
.selectable-content nav ul li h2{
    cursor: pointer;
}
.selectable-content section main ul li{
    display: block; margin-left: 1.3em;
    color: #717274; font-size: 25px;
    letter-spacing: 1.5px;
}
.selectable-content section main{
    text-align: center;
    padding: 2em 0; margin-bottom: 2em;
    animation: 1s fadeIn;
}
.selectable-content section main div{
    margin-left: 0 !important;
    display: block !important;
}
.selectable-content section main article{
    display: flex !important;  
    margin-top: 1.5em;
}
.selectable-content section main .align-center{
    align-items: center !important;
}
.selectable-content section main .instruction{
    margin-left: 1em !important;
    margin-top: -0.5em !important;
    margin-bottom: 4em;
}
.selectable-content section main .center-contents{
    display: flex !important;
    justify-content: center !important;
}
.selectable-content section main .center-contents div,
.selectable-content section main .center-contents article{
    display: block !important;
    text-align: justify;
}
.selectable-content section main .center-contents img{
    display: block; margin: 3em 0;
}
.selectable-content section main h2{
    font-size: 30px; font-weight: bold;
    margin: 1em 0.5em;
}
.selectable-content section main h3{
    font-size: 25px; margin: 1em 0.5em;
    line-height: 1.5;
}
.selectable-content section main h4{
    font-size: 23px; margin: 1em 1.8em;
}

.selectable-content .search-box{
    display: flex; align-items: center;
}
.selectable-content .search-box input{
    width: 350px; margin-right: 1.25em;
}
.selectable-content .search-box input::placeholder{
    color: #C4C4C4;
}
.selectable-content .fa-magnifying-glass{
    color: #C4C4C4; padding: 0.55em;
    border-radius: 100%; font-size: 25px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.selectable-content .table-area{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
.selectable-content .table-area .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #FFF;
}
.selectable-content .table-area .table-striped>tbody>tr{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    border-radius: 15px; height: 125px !important;
    text-align: center;
}
.selectable-content .table-area .table{
    box-shadow: none; 
    width: 90% !important;
}
.selectable-content .table-area .table-striped td:nth-child(1),
.selectable-content .table-area .table-striped td:nth-child(2),
.selectable-content .table-area .table-striped td:nth-child(3){
    width: 220px;
}
.selectable-content .table-area .table>:not(caption)>*>* {
    border-bottom: none;
    box-shadow: none;
}
.selectable-content .table-area .table-2 td:nth-child(5),
.selectable-content .table-area .table-2 td:nth-child(6){
    width: 200px;
}
.selectable-content .table-area .table-2 td:nth-child(6)::after{
    content: ''; display: block;
    position: absolute; background: #F0F0F0;
    width: 5px; height: 70px;
    margin-top: -3.8em;
}
.selectable-content .contracting,
.selectable-content .conducting,
.selectable-content .auditing,
.selectable-content .finished{
    padding: 0.75em 1.75em;
    box-shadow: 0px 4px 6px rgba(158, 199, 247, 0.2);
    border-radius: 30px; color: #FFF !important; outline: none;
    font-size: 20px; letter-spacing: 2px; border: none;
    cursor: pointer; width: auto !important;
}
.selectable-content .contracting{
    background: #3F90F0; 
}
.selectable-content .conducting{
    background: #86D384;
}
.selectable-content .auditing{
    background: #C4C4C4;
}
.selectable-content .finished{
    background: #F57E7E;
}
.selectable-content .entering{
    padding: 0.75em 1.75em; width: auto !important;
    border: 1px solid #D6D7D7; outline: none;
    border-radius: 8px; color: #A0A0A0;
    font-size: 20px; letter-spacing: 2px;
}
.selectable-content .entering:hover{
    transition: .5s ease all;
    background: #B62122;
    color: #FFF;
}
.selectable-content .table p.green{
    position: relative; top: 0.5em;
}
.selectable-content .table i{
    color: #D7D7D7;
    vertical-align: middle;
    position: relative;
    left: 1em;
}
.dropdown{
    display: inline-block !important;
    position: relative;
}
.dropdown div{
    background: #fff; padding: 0.25em 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1; visibility:hidden;
    position: absolute; min-width: 185px;
    opacity: 0; transition: .3s ease all;
    text-align: left; padding-left: 2em;
    padding-top: .5em; padding-bottom: .5em;
}
.dropdown:hover div{
    visibility: visible; opacity: 1;
    display: block !important;
}
.dropdown div a{
    text-decoration: none; color: #BBBBBB;
    transition: .3s ease all; line-height: 2;
    white-space: nowrap; font-size: 18px;
}
.dropdown div a > span{
    vertical-align: middle; 
    position: relative; 
    left: 0.5em;
}
.dropdown div a > img{
    width: 18px;
}

/*Extra*/
.design-and-progress-area header,
.design-and-progress-area nav{
    text-align: left !important;
    width: 90%; margin-left: 6em;
}
.design-and-progress-area nav ul li{
    margin: 0.5em 0;
    margin-right: 2.6em !important;
}
.contract-maker nav h2.active::after,
.design-and-progress-area nav h2.active::after{
    content: ""; position: relative; 
    display: block; top: 0.5em; height: 0.2em; 
    background-color: #D11329; 
    animation: fadeRight 0.75s;
}
@keyframes fadeRight {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
section.application-function {
    display: flex !important;
    justify-content: center;
    text-align: justify;
    padding: 2em 0;
}
section.application-function div{
    width: 560px;
}

/*Contract-Maker*/
.contract-maker{
    width: 100%; 
    padding-left: 125px;
}
.contract-maker-list{
    margin-top: 5em;
}
.contract-maker-list h2{
    margin-bottom: 1.5em;
}
.contract-maker-list .contracting,
.contract-maker-list .outsourcing{
    display: flex !important; 
    justify-content: center;
    background: white;
    box-shadow: none;
}
.contract-maker-list .company{
    width: 600px; display: flex !important;
    justify-content: space-between;
    font-size: 25px; color: #000 !important;
}
.contract-maker-list .contents{
    margin-left: 5em;
}
.contract-maker-list .provement{
    margin-top: 3em;
}
.contract-maker-list .signature{
    position: relative; top: -5px;
    margin-left: -4.5em !important;
    font-size: 18px; letter-spacing: 2.5px;
}
.contract-maker-list form{
    width: 72.5%;
    font-size: 25px;
    margin: 4em 0;
}
.contract-maker-list input[type="text"]{
    border: none !important; 
    outline: none !important;
    width: 230px !important;
    text-align: center;
    background: none !important;
    box-shadow: none;
}
.contract-maker-list input.short{
    width: 160px !important;
    text-align: center;
    background: none !important;
    box-shadow: none;
}
.contract-maker-list form h4{
    font-size: 25px;
}
.contract-maker-list form div{
    margin: 2em 0;
}
.contract-maker-list form ol{
    position: relative; left: 1.25em;
}
.contract-maker-list form ol li{
    margin: 0.75em 0;
}
.contract-maker-list form label{
    margin-right: 1em;
}
.contract-maker-list .next-step{
    margin-top: 3em;
}
.contract-maker-list .sign-contents{
    margin: 1em 0;
}
.contractor{
    margin-top: 1em;
}
.contract-maker-list .sign-contents .contents,
.contract-maker-list .sign-contents .contents-2{
    display: flex; 
    justify-content: space-between;
    letter-spacing: 2px;
}
.contract-maker-list .sign-contents .contents div:nth-child(2){
    width: 450px; text-align: justify;
}
.contract-maker-list .sign-contents div{
    margin: 0.2em 0;
}
.contract-maker-list .sign-contents .contents-2 div:nth-child(2){
    width: 450px; 
    border-bottom: 1px solid #BBBBBB;
}
.contract-maker-list .sign-contents .contents-2 input{
    text-align: left; 
    padding-left: 5px;
    padding-bottom: 2px;
    width: inherit !important;
}
.contract-maker-list .signature{
    position: relative; 
    float: right; top: 2px;
    font-size: 18px; letter-spacing: 2.5px;
}

/*Quotation*/
.quotation{
    width: 100%; 
    padding-left: 125px;
}
.quotation-list{
    margin: auto;
    width: 80%;
    padding-top: 3.25em;
}
.quotation-list::before{
    content: ''; width: 1000px; height: 22px;
    background: url(../images/double-color-thick-line.svg);
    position: absolute; background-repeat: no-repeat;
    margin: auto; left: 0; right: 0;
    transform: translateX(53px);
}
.quotation-form{
    width: 70%; margin: auto;
    margin-top: 3.5em; font-size: 18px;
}
.quotation-form .form-format{
    display: flex;
    justify-content: space-between;
}
.quotation-form h2{
    font-size: 43px;
}
.quotation-form .sub-title{
    display: flex;
    justify-content: space-between;
    width: 400px; font-size: 18px;
    letter-spacing: 1px;
}

/* The container */
.checkbox-container {
    display: inline-block; position: relative;
    padding-left: 35px;  margin-bottom: 12px;
    cursor: pointer; user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute; opacity: 0;
    cursor: pointer; height: 0; width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute; top: 5px; left: 8px;
    height: 20px; width: 20px;
    background-color: #eee;
    border-radius: 100%;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:focus ~ .checkmark {
    background-color: #B02524;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    content: ""; position: absolute; display: block;
    left: 7px; top: 3.3px;
    width: 5.5px; height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.quotation-form .part-1{
    width: 110px; 
    font-weight: 600;
}
.quotation-form .part-1 p,
.quotation-form .part-2 p{
    font-size: 18px;
    margin-bottom: 0em !important;
}
.quotation-form .part-2{
    width: 250px;
}
.quotation .service-table{
    margin: 4em 0;
}

/*Table*/
.quotation table{
    width: 95% !important;
    margin-top: 1.25em;
}
.quotation .table>:not(caption)>*>* {
    padding: 0 !important;
    background-color: var(--bs-table-bg);
    border-bottom: none;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.quotation .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #FFF;
}
.quotation .table-striped>tbody>tr>td:nth-child(1){
    --bs-table-accent-bg: #FFF;
    width: 80px; 
}
.quotation .table tr:nth-child(1) td{
    text-align: center;
}
.quotation .table-striped>tbody>tr>td:nth-child(1)>p{
    position: relative; left: 1em;
    font-size: 26px; 
}
.quotation .table-striped>tbody>tr>td:nth-child(2){
    padding-left: 2em !important;
    padding-right: 1em !important;
    width: 260px;
}
.quotation .table-striped>tbody>tr>td:nth-child(3){
    padding: 0.7em 1em !important;
    padding-right: 4em !important;
}
.quotation .table-striped>tbody>tr>td:nth-child(4){
    padding: 0.7em 1em !important;
    width: 150px; text-align: center;
}
.quotation .table-striped>tbody>tr>td:nth-child(5){
    width: 200px;
}
.quotation .table-striped>tbody>tr>td:nth-child(3)>p{
    font-size: 20px;
}
.quotation .table-striped>tbody>tr>td:nth-child(2),
.quotation .table-striped>tbody>tr>td:nth-child(3),
.quotation .table-striped>tbody>tr>td:nth-child(4){
    border-right: 7px solid #FFF;
}
.quotation .table-striped>tbody>tr:nth-of-type(even) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
}

/*Remuneration*/
.remuneration{
    width: 100%; 
    padding-left: 125px;
}
.remuneration-list{
    margin-top: 5em;
}
.remuneration-list h2{
    margin-bottom: 1.5em;
}
.remuneration .contracting,
.remuneration .outsourcing{
    display: flex; 
    justify-content: center;
}
.remuneration-list .company{
    width: 600px; display: flex;
    justify-content: space-between;
    font-size: 25px; 
}
.remuneration-list .contents{
    margin-left: 5em;
}
.remuneration-list .provement{
    margin-top: 3em;
}
.remuneration-list .signature{
    position: relative; top: -5px;
    margin-left: -4.5em !important;
    font-size: 18px; letter-spacing: 2.5px;
}
.remuneration-list form{
    width: 90%;
    font-size: 25px;
    margin: 4em 0;
}
.remuneration-list input[type="text"]{
    border: none !important; 
    outline: none !important;
    width: 215px !important;
    text-align: center;
}
.remuneration-list input.short{
    width: 100px !important;
    text-align: center;
}
.remuneration-list form h4{
    font-size: 25px;
}
.remuneration-list form div h4{
    display: inline;
}
.remuneration-list form label{
    margin-right: 1em;
}
.remuneration-list hr.dashed{
    margin: 2em 0; opacity: 1;
    background-color: #FFF !important; 
    border-top: 4px dashed #000;
}
.remuneration-list .next-step{
    margin-top: 3em;
}

/*Payment-Setting*/
.payment-setting{
    margin-top: 5em;
}
.payment-setting .payment-form{
    margin: 2em 0;
    margin-left: 3.25em;
    font-size: 25px;
}
.payment-setting .three-info .info{
    display: inline-flex !important;
    align-items: center;
}
.payment-setting .three-info input{
    width: 230px; color: #000 !important;
    text-align: center;
    padding: 0.5em 0.8em;
    margin-left: 0.75em;
    margin-right: 3em;
}
.payment-setting .long-info{
    margin: 1em 0;
}
.payment-setting .long-info input{
    width: 618px; color: #000 !important;
    padding: 0.5em 0.8em;
    margin-left: 0.4em;
    margin-right: 3em;
    padding-left: 2em !important;
}
.payment-setting .next-step{
    position: absolute;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    bottom: 1.5em;
}
.payment-setting .next-step span{
    font-size: 25px;
    position: relative;
    left: 2.2em;
}

/*Design UI*/
.layout-review .inside-navbar{
    margin-top: 2em;
}
.layout-review nav h2.active::after{
    content: ""; position: relative; 
    display: block; top: 0.5em; height: 0.2em; 
    background-color: #D11329; 
    animation: fadeRight 0.75s;
}
.layout-review .row{
    margin: 5em 0;
}
.click-check{
    margin: 5em 4em;
}
.layout-review button.update{
    background: #FCFCFC;
    width: 150px; padding: 0.6em 0;
    outline: none; border: none; 
    font-size: 20px; border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*Alignment*/
    margin-left: 2em;
}
.layout-review button.update p{
    margin-bottom: 0 !important;
    color: #B62122 !important;
}
.layout-review button.update i{
    font-size: 20px !important;
    margin-right: 5px;
}
.layout-review button.update:hover{
    transition: all .5s ease;
    background:	#F0F0F0;
}
.layout-review button.chat-room{
    position: fixed; bottom: 6em; right: 7.5em;
    padding: 0.6em 0; width: 80px; height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100%; background: #FCFCFC;
}
.layout-image{
    margin-left: 5em !important;
    margin: 2.5em 0;
}
.layout-review .content-1 a{
    margin: 0 2.5em;
}
.layout-review p{
    display: inline; color:#717274;
    letter-spacing: 2px; font-size: 20px;
}
.layout-review span.icon{
    display: inline; 
    position: relative;
    top: -3px;
}
.layout-review a.previous{
    margin-left: 5em;
}
.layout-review a.previous i{
    font-size: 45px !important;
}
.layout-review p.previous{
    position: relative; top: -9px;
}
.layout-review .introduction{
    border: 2px solid #E6E6EA;
    border-radius: 8px;
}
.layout-review .introduction .related-page{
    padding: 1em 1.5em; 
    border-bottom: 4px solid #E6E6EA;
    display: flex; justify-content: space-between;
    align-items: center;
}
.layout-review .introduction p,
.layout-review .introduction h2,
.layout-review .introduction h3{
    font-size: 23px; margin-bottom: 0;
}
.layout-review .introduction .link{
    padding: 1em 1.5em; 
}
.layout-review .introduction .link h3{
    margin-bottom: .7em;
}
.layout-review .introduction .link a{
    text-decoration: underline !important;
}
.layout-review .jumbotron {
    width: 90%; height: 100vh;
    background: url(../images/client-layout.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em; cursor: pointer;
}
.layout-review span.feedback{
    width: 40px; height: 40px; 
    font-family: "Montserrat"; font-size: 18px;
    text-align: center; 
    background: url(../images/feedback-icon.png);
    background-repeat: no-repeat;
    position: absolute;
}
.layout-review span.feedback p{
    color: #FFF; position: relative;
    top: 5.5px;
}
.layout-review .feedback-area .feedback{
    background: #F8F8F8;
    border-radius: 8px;
    margin: 2em 0;
}
.layout-review .feedback-area .timing{
    padding: 1em 1.5em;
    display: flex; align-items: center;
}
.layout-review .feedback-area h2{
    margin-left: 1em; margin-bottom: 0;
    color: #717274; font-family: "Montserrat";
    font-size: 23px; 
}
.layout-review .feedback-area .timing span{
    background: #B62122; border-radius: 100%;
    width: 40px; height: 40px; 
    font-family: "Montserrat";
    text-align: center;
}
.layout-review .feedback-area .timing span p{
    color: #FFF; position: relative;
    left: 1px; top: 5px;
}
.layout-review .feedback-area .contents{
    padding: 0 1.5em; 
    padding-top: 0.25em !important;
    padding-bottom: 1.25em !important;
}
.layout-review .giving-feedback{
    border-top: 4px solid #E6E6EA;
}
.layout-review .giving-feedback .me{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
}
.layout-review .giving-feedback .me span{
    background: #FFF; border-radius: 30px;
    padding: 0.25em 1.8em; text-align: center;
    margin-right: 1.75em; margin-left: 1.5em;
}
.layout-review .giving-feedback .me span p{
    color: #B62122; position: relative;
}
.layout-review .giving-feedback .client{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}
.layout-review .giving-feedback .client span{
    background: #B62122; border-radius: 30px;
    padding: 0.25em 1.8em; text-align: center;
    margin-right: 1.75em; margin-left: 1.5em;
}
.layout-review .giving-feedback .client span p{
    color: #FFF; position: relative;
}
.layout-review .giving-feedback .client h2{
    margin-left: 0;
}
.layout-review .inputWithIcon{
    border-radius: 8px;
    padding: 4em 1.5em; 
    padding-bottom: 2.5em !important;
}
.layout-review .inputWithIcon input{
    width: 100%; background: #E7E7E7;
    padding-right: 3em !important;
    padding-left: 1em !important;
    padding: 0.5em 0;
}
.layout-review .inputWithIcon input::placeholder{
    color: #BBBBBB; 
    font-family: "Montserrat";
    font-size: 22px;
    letter-spacing: 2.5px;
}
.layout-review .inputWithIcon input:focus{
    color: #000 !important;
}
.layout-review .inputWithIcon {
    position: relative;
}
.layout-review .inputWithIcon.inputIconBg i {
    color: #BBBBBB; font-size: 25px !important;
    width: 35px; height: 35px;
    background-color: none;
    border-radius: 100%;
    text-align: center; cursor: pointer;
    padding-top: 3.5px; 
    margin-top: 8px;
    position: absolute; right: 1.4em; 
}
.layout-review .inputWithIcon.inputIconBg input:focus + i {
    color: #fff;
    background-color: #036EEB;
    transition: 1s ease all;
}

/*File*/
.demand-file-area{
    width: 100%;
    padding-left: 125px;
}
.demand-file-area .management{
    width: 88%; margin: 0 6em;
    margin-top: 2.5em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.demand-file-area .management h2{
    font-size: 25px;
}
.demand-file-area button{
    margin: 0 0.5em;
    padding: 0.7em 2.5em;
    border-radius: 30px;
    border: 2px solid #B62122;
    background-color: #FFF;
    color: #B62122;
}
.demand-file-area button p{
    font-size: 20px;
}
.demand-file-area .table-area{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demand-file-area .table{
    width: 80% !important; 
}
.demand-file-area .table>:not(caption)>*>* {
    text-align: center;
    border-bottom: none !important;
    border-right: 2px solid #E1E1E1;
}
.demand-file-area .table a.file{
    font-size: 23px;
    text-decoration: underline !important;
}
.demand-file-area .table tr{
    height: 75px;
}
.demand-file-area .table tr td:nth-child(2){
    text-align: left;
    padding-left: 2em !important;
}
.demand-file-area .table tr:nth-child(1) td{
    text-align: center;
    padding-left: 0 !important;
}
.demand-file-area .table tr td{
    width: 110px;
}
.demand-file-area .table tr td:nth-child(1){
    width: 50px;
}

/*Notification*/
.notification{
    width: 90%; 
    padding-left: 15em;
}
.notification header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.notification .table-area{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 5em;
}
.notification .icon{
    align-items: center;
}
.notification .icon span{
    font-size: 20px;
    letter-spacing: 2px;
    vertical-align: middle;
}
.notification .switch{
    align-items: center;
}
.notification .instruction{
    align-items: center;
    margin: 0 !important;
}
.notification .inner h2{
    margin-bottom: 0 !important;
    color: #717274;;
}
.notification ul{
    color: #717274;; 
    font-size: 18px;
    letter-spacing: 1.5px;
}
.notification .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.notification .switch input { 
    opacity: 0; width: 0; height: 0;
}
.notification .slider {
    position: absolute; cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc; 
    border-radius: 34px;
    transition: .4s;
}
.notification .slider:before {
    position: absolute; content: "";
    height: 24px; width: 24px;
    left: 3px; bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}
.notification input:checked + .slider {
    background-color: #BA2D2E;
}
.notification input:focus + .slider {
    box-shadow: 0 0 1px #BA2D2E;
}
.notification input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/*Project Upload*/
section.project-upload-container{
    display: inline-flex;
    width: 92%;
}
.project-upload-area{
    background: #F3F3F3;
    border-radius: 12px;
    width: 361px; height: 336px;
    margin: 0 1.5em;
}
.project-upload-area h2, 
.project-upload-area h3{
    font-family: "Montserrat";
    font-size: 22px !important;
    font-weight: 500 !important;
    color: #717274;
}
.project-upload-area h2{
    padding-left: 0.5em;
}
.project-upload-area img{
    margin-top: 2em;
}
section.description{
    width: 92%; display: inline-flex;
    margin: 2em 0; 
}
section.description textarea{
    width: 1132px; height: 337px;
    background: #F3F3F3 !important;
    box-shadow: none !important;
    border-radius: 12px; border: none;
    resize: none; outline: none;
    font-family: "Montserrat";
    font-size: 22px !important;
    font-weight: 500 !important;
    color: #717274; letter-spacing: 2.25px;
    padding: 1em 1em;
}